/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  // vertical-align: baseline;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
  overflow: hidden;
}
body{
  overflow: auto;
}
html,body, #app{
  height: 100%;
  width: 100%;
  overscroll-behavior: contain;
}
.ps{
  .ps__rail-y{
    left: auto !important;
    z-index: 5;
  }
  .ps__rail-x{
    top: auto !important;
  }
  .ps__rail-x, .ps__rail-y{
    opacity: 0.6;
    &:hover{
      background-color: #f7f7f7;
    }
    &.ps--clicking{
      background-color: #eee;
      cursor: grabbing;
      .ps__thumb-y{
        background: #777;
      }
    }
  }
}

.router-tab{
  height: 100%;
}

.scroll-dark{
  &.ps{
    .ps__rail-x, .ps__rail-y{
      &:hover{
        background-color: #444;
      }
      &.ps--clicking{
        background-color: #454545;
        .ps__thumb-y{
          background: #ccc;
        }
      }
    }
  }
}

.el-button--small > span .iconfont.icon-bumen{
  font-size: 13px;
}