body{
  .vxe-table{
    &::before{
      border-top: 1px solid #ddd;
    }
    &::after{
      border-bottom: 1px solid #ddd;
    }
    .vxe-table--border-line{
      border: 1px solid #ddd;
      // &::before{
      //   border-left: 1px solid #ddd;
      // }
      // &::after{
      //   border-right: 1px solid #ddd;
      // }
    }
    .vxe-table--header-wrapper .vxe-table--header-border-line{
      border-bottom: 1px solid #ddd;
    }
    &.t--stripe {
      .vxe-body--row.row--stripe {
        background: rgba(245, 249, 252, 1);
        &.row--hover{
          background: #fff2e8;
        }
      }
      &.row--highlight {
        .vxe-body--row:hover {
          background: #fff2e8;
        }
        .vxe-body--row.row--current {
          background: #ffd8bf;
        }
      }
    }
    &.row--highlight {
      .vxe-body--row:hover {
        background: #fff2e8;
      }
      .vxe-body--row.row--current {
        background: #ffd8bf;
      }
    }
    .ps__rail-x{
      z-index: 2;
      opacity: 0.6;
      height: 5px;
    }
    .ps__rail-y{
      z-index: 2;
      opacity: 0.6;
      width: 5px;
    }
    tr td:first-child:not(.col--expand), 
    tr th.vxe-header--column:first-child:not(.col--expand){
      >.vxe-cell{
        padding-left: 16px;
      }
    }
    .vxe-table--fixed-right-wrapper{
      tr th.col--fixed{
        .vxe-cell{
          padding-left: 16px;
        }
      }
    }
    .vxe-header--column{
      font-size: 16px;
      background: #eef2f7;
      color: #000;
    }
    .vxe-body--column{
      font-size: 16px;
      color: #333;
    }
    &.border--default{
      .vxe-body--column{
        position: relative;
        background-image: none;
        &::after{
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #eee;
        }
      }
    }
    .vxe-body--row.row--stripe{
      background: #F5F9FC;
    }
    .vxe-cell{
      padding: 0 5px;
    }
    .el-button{
      font-size: 16px;
    }
    .vxe-body--column.is-active {
      background: #ffd8bf;
    }
    
  }
  .v-table {
    &_footer {
      height: 47px;
      background: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      user-select: none;
      cursor: pointer;
      width: 100%;
      bottom: 0;
      &:hover {
        background: #eef2f7;
      }
      i {
        margin-right: 5px;
        color: #069ad4;
      }
      .el-icon-loading{
        font-size: 15px;
      }
    }
    &_fixed-header{
      position: fixed;
      z-index: 9;
      .vxe-table--body-wrapper, .vxe-table.is--empty .vxe-table--empty-placeholder{
        visibility: hidden;
        height: 0;
      }
      &_padding{
        width: 100%;
        background: #fff;
      }
    }
    .vxe-table .vxe-table--empty-placeholder{
      min-height: 48px;
    }
    .vxe-table--empty-block{
      min-height: 48px;
    }
    .vxe-table .vxe-table--fixed-left-wrapper.scrolling--middle{
      box-shadow: 2px 2px 6px rgba(0,0,0,.12);
    }
    .el-input__icon{
      &.el-icon-date, &.el-icon-time{
        line-height: 30px;
      }
    }
    .el-date-editor .el-input__suffix{
      top: -4px;
    }
  }
  .vxe-table--tooltip-wrapper{
    z-index: 3000!important;
    font-size: 14px;
  }
  .g-add-table{
    .vxe-table.border--default .vxe-body--column::after{
      display: none;
    }
  }
  .g-edit-table {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    &.is-long{
      height: unset;
    }
    &.is-not-readOnly{
      .is-main{
        *::-webkit-scrollbar {
          height: 0 !important;
          width: 0 !important;
        }
      }
      .left{
        &.is-add-on-top{
          .is-main{
            *::-webkit-scrollbar {
              height: 0px !important;
              width: 0px !important;
            }
          }
        }
      }
    }
    &.is-readOnly{
      .left{
        margin-right: 48px;
      }
    }
    .right {
      width: 48px;
      &.is-add-on-top{
        padding-top: 48px;
      }
    }
    .left {
      flex: 1;
      min-width: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      .table-box-add {
        position: relative;
      }
      &.is-add-on-top{
        display: flex;
        flex-direction: column-reverse;
        border-top: 1px solid #ddd;
        .is-add{
          *::-webkit-scrollbar {
            height: 0 !important;
            width: 0 !important;
          }
        }
        .is-main{
          .vxe-table::before{
            display: none;
          }
          .vxe-table--fixed-right-wrapper::before{
            display: none;
          }
          tbody tr.vxe-body--row {
            &:last-child .vxe-body--column {
              border-bottom: 0;
            }
          }
        }
      }
    }
    .is-main, .is-add {
      .vxe-table--body-wrapper{
        position: relative;
      }
      .vxe-edit-icon {
        display: none;
      }
      .vxe-required-icon {
        display: none;
      }
      .vxe-table--empty-block{
        min-height: 48px;
      }
    }
    .no-empty{
      .is-main{
        .vxe-table--empty-block, .vxe-table--empty-placeholder {
          min-height: 1px;
          height: 1px!important;
          opacity: 0;
          // display: none;
        }
      }
    }
    .is-add {
      .vxe-checkbox, .vxe-radio{
        display: none;
      }
      .vxe-table::before {
        height: 0;
      }
      td {
        color: #999;
      }
      tbody tr.vxe-body--row {
        background: #f9fff8;
        &:last-child .vxe-body--column {
          border-bottom: 0;
        }
      }
      // *::-webkit-scrollbar {
      //   height: 0 !important;
      //   width: 0 !important;
      // }
      .vxe-table .vxe-table--fixed-left-wrapper:before, 
      .vxe-table .vxe-table--fixed-right-wrapper:before{
        border-top: 0;
      }
      .vxe-table .vxe-table--fixed-right-wrapper.scrolling--middle{
        box-shadow: -2px -2px 6px rgba(0,0,0,.12);
      }      
      .fixed-right--wrapper{
        background: #f9fff8;
        th{
          background: #eef2f7;
        }
      }
    }
    .is-del {
      border: 0;
      *::-webkit-scrollbar {
        height: 0 !important;
        width: 0 !important;
      }
      &::before,
      &::after {
        opacity: 0;
        border-bottom: 1px solid transparent;
      }
      background-color: transparent;
      .vxe-body--row {
        .vxe-body--column {
          border-color: transparent;
        }
      }
      .vxe-table--header-wrapper {
        opacity: 0;
        .vxe-body--x-space {
          height: 0;
        }
        .vxe-header--column .vxe-cell {
          line-height: 27px;
        }
      }
      .vxe-cell {
        line-height: 23px;
        padding: 0;
      }
      .vxe-table--empty-placeholder {
        display: none;
      }
      tr td:first-child, tr th.vxe-header--column:first-child{
        .vxe-cell{
          padding-left: 0;
        }
      }
      .vxe-table--border-line{
        display: none;
      }
    }
    .add-btn {
      position: absolute;
      right: -32px;
      bottom: 8px;
      z-index: 9;
    }
    .del-btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px;
      height: 23px;
    }
    .iconfont {
      &.icon-add {
        font-size: 22px;
        color: #06d0c1;
        cursor: pointer;
        user-select: none;
        &:hover {
          color: #0c8880;
        }
      }
      &.icon-del {
        font-size: 22px;
        color: #ff686c;
        cursor: pointer;
        user-select: none;
        &:hover {
          color: #c0373b;
        }
      }
    }
  }
  .g-group{
    &-top, &-center, &-bottom{
      position: absolute;
      width: 2px;
      left: 15px;
      background: red;
      &::before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 2px;
        background: red;
        right: 0;
      }
    }
    &-top {
      height: 25px;
      bottom: -1px;
      &::before{
        top: 0;
      }
    }
    &-center {
      height: 50px;
      top: -1px;
      &::before{
        display: none;
      }
    }
    &-bottom {
      height: 24px;
      top: 0;
      &::before{
        bottom: 0;
      }
    }
  } 
}